.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 10px;
}

.modal-content {
  background: white;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 15%;
  right: 20%;
  cursor: pointer;
  height: 20px;
  border: none;
  display: none;
}

@media (min-width: 500px) {
  .modal-close {
    position: absolute;
    top: 15%;
    right: 20%;
    cursor: pointer;
    height: 20px;
    border: none;
    display: block;
  }

  .modal-overlay {
    padding: 0;
  }
}
